.chance{
  padding: 100px 0 329px 0;


  &__container{
    max-width: 1520px;
  }

  &__list {
    display: flex;
    position: relative;
    // width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    position: relative;
    max-width: 1520px;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }

  &__text-wrapper {
    padding-left: 165px;
  }

  &__title {
    margin: 0;
    padding: 0;
    max-width: 445px;
    width: 100%;
    margin-bottom: 24px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
  }

  &__desc {
    max-width: 445px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
  }

  &__link {
    display: flex;
    text-decoration: none;
    text-transform: capitalize;
  }

  &__img-mobile{
    display: none;
  }
}


@media only screen and (max-width: 1200px){

  .chance{

    &__text-wrapper{
      padding-left: 100px;
    }
  }
}


@media only screen and (max-width: 1095px){

  .chance{

    &__text-wrapper{
      padding-left: 50px;
    }

    &__img{
      margin-left: auto;
    }
  }
}

@media only screen and (max-width: 1035px){

  .chance{


    &__container{
      padding: 0 20px;
    }

    &__item{
      flex-direction: column-reverse;
    }

    &__text-wrapper{
      margin-top: 56px;
      align-items: center;
      justify-content: center;
    }

    &__title{
      max-width: 573px;
      text-align: center;
    }

    &__desc{
      max-width: 573px;
      text-align: center;
    }

    &__link{
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 750px){

  .chance{

    &__text-wrapper{
      padding: 0;
    }

    &__title{
      font-size: 32px;
      line-height: 32px;
    }

    &__desc{
      font-size: 15px;
      line-height: 25px;
    }

    &__img{
      display: none;
    }

    &__img-mobile{
      display: inline-block;
    }
  }
}