// HEADER SECTION
.header{
  padding: 22px 0;


  &__container{
    display: flex;
    max-width: 1106px;
    align-items: center;
  }

  &__btn{
    margin-left: auto;
  }

  &__hamburger{
    display: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    background-image: url("../images/hamburger.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
  }
}

@media only screen and (max-width: 670px){

  .header{
    position: relative;


    &__nav{
      order: 3;
    }

    &__nav-list{
      margin-left: 25px;
    }

    &__btn{
      padding: 10px 20px;
    }
  }
}


@media only screen and (max-width: 590px){

  .header{


    &__nav-list{
      margin-left: 25px;
    }

    &__btn{
      padding: 10px 20px;
    }

    &__nav-item:nth-child(2){
      margin: 0 15px;
    }
  }
}

@media only screen and (max-width: 540px){

  .header{


    &__container{
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;

    }

    &__logo-link{
      margin-right: auto;
    }

    &__nav{
      display: none;
    }

    &__nav-list{
      display: none;
    }

    &__btn{
      display: none;
    }

    &__hamburger{
      margin-right: auto;
      display: flex;
    }

    &__hamburger:hover{
      opacity: 0.8;
    }

    &__hamburger:active{
      opacity: 0.4;
    }
  }

  .header--open .header__nav{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column-reverse;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .header--open .header__nav{
    background: #333A44;
    width: 256px;
    height: 680px;

  }

  .header--open .header__nav-list{
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 339px;
    align-items: inherit;
    position: absolute;
    left: 0;
    width: 100%;
    top: 64px;
    padding-left: 32px;
    flex-direction: column;
  }

  .header--open .header__nav-item:nth-child(2){
    margin: 24px 0;
  }

  .header--open .header__nav-link{
    font-size: 18px;
    color: #E5ECF4;
  }

  .header--open .header__hamburger{
    background-image: url("../images/icon-menu-x.svg");
    background-size: 18px 18px;
    background-position: center;
  }

  .header--open .header__btn{
    display: flex;
    max-width: 192px;
    width: 100%;
    justify-content: center;
    margin: 0 auto 24px auto;
  }

  .header--open .header__btn:hover{
    background-color: transparent;
  }
}